video {
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
    background-image: url(/assets/img/pixel.png);
    background-size: auto
    }
@media (max-width: 500px){
    video {
        position:fixed;
        left: 0;
        top: 0;
        width: auto;
        height: 100%;
        z-index: -10;
        visibility: visible;
        background-image: url(/assets/img/pixel.png);
        background-size: auto
        }
}